.testimonials
  margin-top 20px
  margin-bottom 20px
  font-size 30px
.custom-tag
  max-width 100%
  height 250px
.carousel-indicators
  li
    width 10px
    height 10px
    border-radius 50%
    background-color #00000055
  .active
    background-color #000
.caption 
    text-align center
    font-size 22px
    color #383535
.text 
    text-align center
    font-size 23px
    color #000
.start
    margin-top 30px
    margin-bottom 30px
    margin-left 120px
    font-size 30px
    color #888c91
.started
    width 100%
    height 70px
    font-size 25px
  
  
